repos:
  # Isort: Python import linter/formatter
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        types: [ python ]
        exclude: 'experimental/|redun_server/'
  # Black: Python code formatter
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        exclude: 'experimental/|redun_server/'
  # Flake8: Python linter
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        exclude: 'experimental/|redun_server/'
  # Mypy: Python type-checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.981
    hooks:
      - id: mypy
        args: ['--show-error-codes', '--warn-unused-ignores']
        exclude: 'bin/|docs/|examples/|experimental/|redun_server/|setup.py'
        additional_dependencies: [types-freezegun, types-python-dateutil, types-requests, types-psycopg2]
